
model/bert_base/chinese_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
best_model/best_model.weights.data-00000-of-00001
*.mp4
dataset/國際權威期刊：「吹哨人」揭輝瑞BNT疫苗震驚消息！臨床試驗存在3大問題！打這疫苗後，體內部分免疫力下降？（2021.11.11）_ 健康1+1 · 直播.srt
dataset/國際權威期刊：「吹哨人」揭輝瑞BNT疫苗震驚消息！臨床試驗存在3大問題！打這疫苗後，體內部分免疫力下降？（2021.11.11）_ 健康1+1 · 直播.txt
